/* You can add global styles to this file, and also import other style files */
:root {
  --cba-primary: #b22;
  --cba-bg: #eee;
  --cba-border-radius: 16px;
}

html,
body {
  font-size: 16px;
  margin: 0;
  background: var(--cba-bg);
}
